@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
/* font-family: "Lexend Deca", sans-serif; */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80.417dvw;
    height: 4.8148dvh;
    top: 3.7037vh;
    left: 8.6vw;
    transition: all 0.3s ease;
    z-index: 5;
}

nav.scrolled {
    width: 80vw;
    max-width: calc(100% - 32px);
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 26px;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    background: rgba(15, 12, 22, 0.65);
    box-shadow: 0 24px 70px rgba(0, 0, 0, 0.25);
}

#nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 100%;
    font-size: 2.6042vw;
    color: #F5F5F5;
}

#nav-header span {
    color: #5468E7;
}

#nav-menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2vw;
}

.menu {
    font-family: "Lexend Deca", sans-serif;
    line-height: 150%;
    font-weight: 400;
    color: #F5F5F5;
    text-decoration: underline;
}

#menu-btn {
    border-radius: 0.25rem;
    width: 12vw;
    height: 6vh;
    background-color: #5468E780;
    color: #F5F5F5;
    border: none;
    font-family: "Lexend Deca", sans-serif;
    line-height: 150%;
    font-weight: 300;
    font-size: 1.3vw;
    cursor: pointer;
}